body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

.top-container {
  background-color: #FFEEAD;
  position: relative;
  padding-top: 100px;
}

.profile {
  width: 50%;
  margin: 100px auto;
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  border-color: #FFAD60;
  width: 45px;
}

.skills {
  margin: 100px auto;
}

.contact-me {
  margin: 100px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.frontend-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.backend-image {
  width: 27%;
  float: right;
  margin-left: 30px;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Pacifico", cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #D9534F;
}

a {
  color: #D9534F;
}

.engineer {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile-image {
  width: 200px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px;
}

.copyright{
  color: #EAF6F6;
  margin-top: 50px;
}

.footer-link {
  padding: 25px;
  text-decoration: none;
}
