body {
  margin: 0;
}

.top-container {
  background-color: #96CEB4;
}

.middle-container {
  height: 200px;
  width: 200px;
  background-color: red;
}

.bottom-container {
  height: 200px;
  width: 200px;
  background-color: blue;
}

h1 {
  margin-top: 0;
}

.engineer {
  text-decoration: underline;
}
